extends _partial/layout.pug

block title
	title
		!= page.title

block head
	!= css(['/css/post.css','/css/prism.css'])
	!= open_graph()
	- if(page.katex) {
		link(href="https://cdn.bootcdn.net/ajax/libs/KaTeX/0.16.4/katex.min.css" rel="stylesheet")
	- }

block content
	script(src="https://polyfill.io/v3/polyfill.min.js?features=es6")

	.post
		h3.date
			!= page.date.format('MMM DD, YYYY')
		h1
			!= page.title 
		!= toc(page.content, { class: 'toc', list_number: true }) 
		.content.markdown-body
			!= page.more
		- if(theme.prevnext.enable) { 
			- if(page.next) { 
				a#older.blog-nav(href=url_for(page.next.path)) OLDER >
			- }
			- if(page.prev) { 
				a#newer.blog-nav(href=url_for(page.prev.path)) < NEWER
			- } 
		- }
